{% load static %}
<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>DREFC: Liste d'enseignants</title>

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href=" {% static 'style.css' %}" rel="stylesheet" />
  </head>
<body>

  <!-- ======= Header ======= -->
<div id="header"></div>
<div id="sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Liste d'enseignants</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
         

<div class="input-group">
  <form class="d-flex " action=" {% url 'enseignants' %} " method="get">
    <input type="search" name="recherche" class="form-control rounded"  placeholder="Rechercher" aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary">search</button>
  </form>
</div>
      <div class="row">
        <div class="col-lg-12">
       
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Enseignants</h5>

              <table class="table datatable">
                <thead>
                  <tr>
                      <th scope="col">matricule</th>
                      <th scope="col">Nom </th>
                      <th scope="col">prénom</th>
                      <th scope="col">Département</th>
                      <th scope="col">Grade</th>
               
                  </tr>
                </thead>
                <tbody>
                    {% for enseignant in data %}
                        <tr>
                            <th scope="row">{{enseignant.matriculeEns}}</th>
                            <td> {{enseignant.nomEnseignant}} </td>
                            <td> {{enseignant.prenomEnseignant}} </td>
                            <td> {{enseignant.département}} </td>
                            <td> {{enseignant.grade}} </td>
                            <td><a href="{% url 'enseignant' enseignant.matriculeEns%}" class="link">modifier</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

<div id="footer"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'render.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>

</body>

</html>